.discipilnes-gallery__item {
  text-align: center;
  box-sizing: border-box;
  background-color: black;
  height: 100%;
}

.discipilnes-gallery__image {
  width: 100%;
  height: 100%;
  opacity: 0.56;
}