.navigation {
  position: fixed;
  width: 100%;
  color: #000;
  height: 50px;
  z-index: 1;
  display: flex;
  text-transform: uppercase;
  height: 55px;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.5);
}

.navigation__logo-link {
  font-weight: bold;
  font-family: "PoppinsBold";
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 33px;
  padding: 0px 0px 0px 0px;
  .isOpen & {
    color: #2c3b5f;
  }
}

.navigation__logo {
  margin-top: 10px;
  z-index: 1;
}

.navigation__hamburger-lines {
  display: block;
  height: 26px;
  width: 40px;
  top: 17px;
  left: 20px;
  margin-left: 15px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navigation__line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: white;
  z-index: 1;
}

.navigation__line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
  .isOpen & {
    background: #2c3b5f;
    transform: rotate(35deg);
  }
}

.navigation__line2 {
  transition: transform 0.2s ease-in-out;
  .isOpen & {
    display: none;
  }
}

.navigation__line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
  .isOpen & {
    background: #2c3b5f;
    transform: rotate(-35deg);
  }
}

.navigation__links {
  transform: translate(-150%);
  position: fixed;
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  list-style: none;
  padding-top: 4rem;
  .isOpen & {
    transform: translateY(0);
  }
}

.navigation__social-icons {
  display: flex;
  position: fixed;
  transition: transform 0.2s;
  gap: 30px;
  margin-left: 3.5rem;
  padding-top: 20px;
}

.navigation__item {
  list-style: none;
  margin-left: 3rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  z-index: 2;
}

.navigation__link {
  font-family: "Montserrat";
  font-size: 22px;
  font-weight: bold;
  line-height: 2.2;
  color: rgb(44, 59, 95);
  text-decoration: none;
}

.isOpen .navigation__social-icon {
  // margin-top: 30px;
  fill: #2c3b5f;
}

.navigation__cart-button {
  background-color: Transparent;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.navigation__button-icons {
  display: flex;
  min-width: max-content;
  margin-top: 15px;
  margin-right: 20px;
  gap: 15px;
  z-index: 1;
}

.isOpen .navigation__img-icon {
  fill: #2c3b5f;
}

.navigation__search-button {
  background-color: Transparent;
  border: none;
  cursor: pointer;
}

@media (min-width: 992px) {
  .navigation {
    display: flex;
    justify-content: space-between;
  }

  .navigation__hamburger-lines {
    display: none;
  }

  .navigation__links {
    transform: translate(0%);
    position: absolute;
    display: flex;
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: unset;
    list-style: none;
    padding-top: 0rem;
    justify-content: space-around;
  }

  .navigation__link {
    font-family: "Montserrat";
    font-size: 13px;
    color: white;
    text-decoration: none;
    margin-left: 20px;
  }

  .navigation__social-icons {
    display: flex;
    position: unset;
    align-items: center;
    gap: 25px;
    padding: 0px 40px 0px 40px;
    margin-right: 20px;
    margin-left: 20px;
    border-right: 1px solid grey;
    border-left: 1px solid grey;
  }

  .navigation__button-icons{
    gap: 25px;
  }

  .navigation__categories {
    display: flex;
    align-items: center;
    margin-left: 90px;
    border-left: 1px solid grey;    
  }

  .navigation__item {
    margin-left: 0px;
  }
  
  .navigation__logo{
    position: absolute;
    margin-left: 30px;
  }
}
