.offer-of-the-month {
  display: flex;
  flex-direction: column;
  background-color: rgb(243, 238, 238);
}

.offer-of-the-month__sportsman {
  background: url(/assets/images/banners/ImageSportsman.png);
  flex-basis: 100%;
  background-position: 28%;
  background-size: cover;
  padding-top: 300px;
}

.offer-of-the-month__description {
  padding: 5px 25px 20px 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.offer-of-the-month__title {
  text-transform: uppercase;
  text-align: center;
  font-family: "Bebas Neue";
  font-size: 28px;
  font-weight: 500;
  padding-bottom: 15px;
  color: rgb(13, 46, 87);
  margin-left: 20px;
  margin-right: 20px;
}

.offer-of-the-month__subtitle {
  text-transform: uppercase;
  text-align: center;
  font-family: "Poppins";
  font-size: 20px;
  padding-top: 60px;
  padding-bottom: 25px;
  color: rgb(97, 97, 97);
}

.offer-of-the-month__price-container {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.offer-of-the-month__new-price {
  color: rgba(57, 84, 217);
  font-weight: bold;
  font-size: 40px;
  padding-top: 30px;
}

.offer-of-the-month__old-price {
  color: black;
  font-size: 30px;
  text-decoration: line-through;
  padding-top: 35px;
}

.offer-of-the-month__countdown {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 30px;
  gap: 30px;
}

.offer-of-the-month__time-item {
  font-family: "Montserrat";
  text-transform: uppercase;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  padding: 10px 10px 20px 10px;
  text-align: center;
  width: 90px;
}

.offer-of-the-month__time {
  font-size: 40px;
  padding-top: 8px;
}

.offer-of-the-month__time-seconds {
  font-size: 40px;
  padding-top: 8px;
}

.offer-of-the-month__time-minutes {
  font-size: 40px;
  padding-top: 8px;
}

.offer-of-the-month__time-hours {
  font-size: 40px;
  padding-top: 8px;
}

.offer-of-the-month__time-unit {
  font-size: small;
  padding-top: 8px;
}

.offer-of-the-month__dots {
  padding-top: 8px;
}

.offer-of-the-month__shop-now-button-continer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px;
}

@media (min-width: 576px) {
  .offer-of-the-month__sportsman {
    background-position: 28%;
    background-size: cover;
    padding-top: 300px;
  }
}

@media (min-width: 992px) {
  .offer-of-the-month {
    flex-direction: row;
  }

  .offer-of-the-month__sportsman {
    padding-top: 0px;
  }

  .offer-of-the-month__title {
    padding-bottom: 25px;
    margin-left: 120px;
    margin-right: 120px;
  }

  .offer-of-the-month__description {
    margin-left: 100px;
    margin-right: 100px;
  }

  .offer-of-the-month__subtitle {
    padding-top: 100px;
  }
}
