.shipping {
  text-align: center;
}

.shipping__item {
  background-color: white;
  padding-bottom: 40px;
  border-color: lightgrey;
  border-style: solid;
  border-width: 1px;
}
.shipping__title {
  text-transform: uppercase;
  text-align: center;
  font-family: "Bebas Neue";
  font-size: 25px;
  padding-bottom: 15px;
  color: rgb(44, 59, 95);
}

.shipping__description {
  padding: 5px 25px 20px 20px;
}

.shipping__image {
  padding: 25px 0px 25px 0px;
  width: 44px;
}

.shipping__click-here-link {
  color: #3753da;
  font-family: "Montserrat";
  text-decoration: none;
  font-weight: bold;
}