.companies-logo__item{
    position: relative;
    background-color: white;
    border-color: lightgrey;
    border-style: solid;
    border-width: 1px;
    width: 33.3333333%;
  }
  
  .companies-logo__item:after{
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  
  .companies-logo__image {
    position: absolute;
    width: 70%;
    filter: grayscale(100%);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }


  @media (min-width: 576px) {
    .companies-logo__item{
      position: relative;
      background-color: white;
      border-color: lightgrey;
      border-style: solid;
      border-width: 1px;
      width: 16.6666666%;
    }
    
    .companies-logo__item:after{
      content: "";
      display: block;
      padding-bottom: 100%;
    }
  }