body{
    background-color: rgb(46, 88, 173);
}

.header{  
    background-image: url('../assets/images/Rectangle\ 9.png');
    padding: 20px 0px 20px 0px;
}
nav, nav ul {
    display: flex;
    text-transform: uppercase;
}


.logo a {   
    font-weight: bold;
    font-family: 'Poppins';
    color: white;
    text-decoration: none;
    font-size: 33px;   
}

.navigationList a {
    font-family: 'Montserrat';
    font-size: 13px;
    color: white;
    text-decoration: none;
    margin-left: 30px;
}

.iconList img {
    padding-bottom: 2;
    margin-left: 49px;  
}

.buttonList img {
    padding-bottom: 2;
    margin-left: 49px;  
}

.buttonList button {
    background-color: Transparent;
    border: none;
    cursor:pointer;
}


.shippingList{
    display: flex;
}

.shippingList li{
    background-color: white;
    border-color: #0d2e57;
    border: 5px;
}
.shippingList h2{
    text-transform: uppercase;
    text-align: center;
    font-family: 'Bebas Neue';
    font-size: 33px;
    font-weight: bold;
    padding-bottom: 24px;
    color: rgb(44, 59, 95);
}

.shippingList span{ 
    display: block;
    margin-left: 74px;
    margin-right: 73px;
    padding-bottom: 23px;
    text-align: center;
    font-size: 13px;
    font-family: 'Montserrat';
    color: grey;
}

.shippingList a{ 
    
}

.shippingList img{
    margin-left: 220px;
    padding: 80px 0px 50px 0px;

}

.shippingList a{
    color: #3753da;
    font-family: 'Montserrat';
    text-decoration: none;
    font-weight: bold;
    margin-left: 200px;
}

